/* fonts */
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
/* style reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}
/* global styles */
h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4 {
  font-size: 20px;
  color: #222;
}
h6 {
  font-size: 12px;
  font-weight: 700;
}
p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}
.section-p1 {
  padding: 40px 80px;
}
.section-m1 {
  margin: 40px 0;
}
button.normal {
  font-size: 16px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
button.white {
  font-size: 18px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: all 0.3s ease;
  text-transform: capitalize;
}
/* header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  text-transform: capitalize;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #1a1a1a;
  transition: all 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
  color: #088178;
  cursor: pointer;
}
#navbar li a.active::after,
#navbar li a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background-color: #088178;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile {
  display: none;
  cursor: pointer;
}
#close {
  display: none;
}
/* hero section styles */
#hero {
  background-image: url(/images/hero4.png);
  height: 90vh;
  width: 100%;
  background-position: top 25% right 0;
  background-size: cover;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4 {
  padding-bottom: 15px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
#hero h2 {
  text-transform: capitalize;
  letter-spacing: 2px;
}
#hero h1 {
  color: #088178;
  text-transform: capitalize;
  letter-spacing: 2px;
}
#hero p {
  text-transform: capitalize;
  letter-spacing: 2px;
}
#hero button {
  background-image: url(images/button.png);
  background-color: transparent;
  color: #088178;
  text-transform: capitalize;
  border: 0;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
}
/* features styles */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .feature-box {
  width: 180px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .feature-box img {
  width: 100%;
  margin-bottom: 10px;
}
#feature .feature-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  cursor: pointer;
}
#feature .feature-box h6 {
  text-transform: capitalize;
  padding: 9px 8px 6px 8px;
  font-size: 15px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
  letter-spacing: 1px;
  display: inline-block;
}
#feature .feature-box:nth-child(2) h6 {
  background-color: #cdebbc;
}
#feature .feature-box:nth-child(3) h6 {
  background-color: #d1e8f2;
}
#feature .feature-box:nth-child(4) h6 {
  background-color: #cdd4f8;
}
#feature .feature-box:nth-child(5) h6 {
  background-color: #f6dbf6;
}
#feature .feature-box:nth-child(6) h6 {
  background-color: #fff2e5;
}
/* product1 styles */
#product1 {
  text-align: center;
}
#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}
#product1 h2 {
  text-transform: capitalize;
  letter-spacing: 1px;
}
#product1 p {
  text-transform: capitalize;
  font-size: 18px;
}
#product1 .pro {
  width: 23%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: all 0.3s ease;
  position: relative;
}
#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
  transform: scale(1.02);
}
#product1 .pro img {
  width: 100%;
  border-radius: 20px;
}
#product1 .pro .info {
  text-align: start;
  padding: 10px 0;
}
#product1 .pro .info span {
  color: #606063;
  font-size: 14px;
  text-transform: capitalize;
  letter-spacing: 1px;
}

#product1 .pro .info h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 18px;
  text-transform: capitalize;
}
#product1 .pro .info i {
  font-size: 13px;
  color: rgba(243, 181, 25);
  padding-top: 5px;
}
#product1 .pro .info h4 {
  padding-top: 7px;
  font-weight: 700;
  color: #088178;
}
#product1 .pro .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 500;
  color: #088178;
  font-size: 20px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
/* banner section styles */
#banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(images/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4 {
  color: #fff;
  font-size: 22px;
  text-transform: capitalize;
  letter-spacing: 2px;
}
#banner h2 {
  color: #fff;
  font-size: 40px;
  padding: 15px 0;
  text-transform: capitalize;
  letter-spacing: 2px;
}
#banner h2 span {
  color: #ef3636;
}
#banner button:hover {
  background-color: #088178;
  color: #fff;
}
/* sm banner section styles */
#sm-banner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(images/banner/b17.jpg);
  min-width: 620px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}
#sm-banner .banner-box2 {
  background-image: url(images/banner/b10.jpg);
}
#sm-banner h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  padding-bottom: 5px;
}
#sm-banner h2 {
  color: #fff;
  font-size: 48px;
  font-weight: 800;
  text-transform: capitalize;
  padding-bottom: 5px;
}
#sm-banner span {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  padding-bottom: 15px;
}
#sm-banner .banner-box:hover button {
  background-color: #088178;
  border: 1px solid #088178;
  cursor: pointer;
  transition: all 0.3s ease;
}
/* banner3 section styles */
#banner3 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 80px;
}
#banner3 .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(images/banner/b7.jpg);
  min-width: 28%;
  height: 30vh;
  background-size: cover;
  background-position: center;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 20px;
}
#banner3 .banner-box2 {
  background-image: url(images/banner/b4.jpg);
}
#banner3 .banner-box3 {
  background-image: url(images/banner/b18.jpg);
}
#banner3 h2 {
  color: #fff;
  font-weight: 900;
  font-size: 32px;
  text-transform: uppercase;
}
#banner3 h3 {
  color: #ec544e;
  font-weight: 800;
  font-size: 22px;
  text-transform: capitalize;
}
/* newsletter section */
#newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(images/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
#newsletter .form {
  display: flex;
  width: 40%;
}
#newsletter h4 {
  font-size: 26px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
}
#newsletter p {
  font-size: 18px;
  font-weight: 600;
  color: #818ea0;
  text-transform: capitalize;
}
#newsletter p span {
  color: #ffbd27;
}
#newsletter input {
  height: 3rem;
  padding: 0 1.25em;
  font-size: 18px;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
#newsletter button {
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  font-size: 18px;
}
/* footer section styles */

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}
footer .logo-footer {
  margin-bottom: 30px;
}
footer h4 {
  font-size: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
}
footer p {
  font-size: 18px;
  margin: 0 0 8px 0;
  text-transform: capitalize;
}
footer a {
  text-decoration: none;
  color: #606063;
  text-transform: capitalize;
  font-size: 18px;
  margin-bottom: 14px;
}
footer .follow {
  margin-top: 20px;
}

footer .follow i {
  color: #465b52;
  padding-right: 8px;
  cursor: pointer;
  font-size: 24px;
  color: #041e42;
}
footer .follow i:hover,
footer a:hover {
  color: #088178;
  transition: all 0.4s ease;
}
footer .install .row img {
  border: 1px solid #088178;
  border-radius: 6px;
}
footer .install img {
  margin: 10px 0 15px 0;
}
footer .copyright {
  width: 100%;
  text-align: center;
  color: #222;
}
/* end of main page */

/* main page responsiveness */
@media screen and (max-width: 1000px) {
  .section-p1 {
    padding: 40px 20px;
  }
  #hero {
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .feature-box {
    margin: 15px 15px;
    width: 30%;
  }
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    width: 30%;
    margin: 15px 15px;
  }
  #sm-banner .banner-box {
    justify-content: center;
    align-items: center;
    min-width: 94%;
    margin-bottom: 20px;
  }
  #sm-banner {
    justify-content: center;
  }
  #banner3 {
    justify-content: center;
    padding: 0 20px;
  }

  #banner3 .banner-box {
    width: 30%;
    margin: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .section-p1 {
    padding: 40px 40px;
  }
  /* navbar */
  #navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100vh;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 80px 0 0 10px;
    transition: all 0.4s ease;
  }
  #navbar.active {
    right: 0;
  }
  #navbar li {
    margin-bottom: 25px;
  }
  #mobile {
    display: flex;
    align-items: center;
  }
  #mobile i {
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
  }
  #close {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
    color: #222;
    font-size: 24px;
  }
  #lg-bag {
    display: none;
  }
  /* hero section */
  #hero {
    height: 70vh;
    padding: 0 80px;
    background-position: top 30% right 30%;
  }
  #feature {
    justify-content: center;
  }
  #feature .feature-box {
    margin: 15px 15px;
  }
  /* product 1 section */
  #product1 .pro-container {
    justify-content: center;
  }
  #product1 .pro {
    margin: 15px;
  }
  /* banner section */
  #banner {
    height: 20vh;
  }
  #banner h4 {
    font-size: 22px;
    padding-top: 20px;
  }
  #banner h2 {
    font-size: 30px;
  }
  /* sm-banner */
  #sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin-bottom: 20px;
  }
  /* banner 3 */
  #banner3 {
    padding: 0 40px;
  }
  #banner3 .banner-box {
    width: 100%;
    margin-bottom: 15px;
  }
  /* newsletter */
  #newsletter .form {
    width: 70%;
  }
}

@media screen and (max-width: 477px) {
  .section-p1 {
    padding: 20px;
  }
  #header {
    padding: 10px 30px;
  }
  #hero {
    padding: 0 20px;
    background-position: 55%;
  }
  h2 {
    font-size: 32px;
  }
  h1 {
    font-size: 38px;
  }
  #feature {
    justify-content: space-between;
  }
  #feature .feature-box {
    width: 155px;
    margin: 0 0 15px 0;
  }
  #product1 .pro {
    width: 100%;
  }
  #banner {
    height: 40vh;
  }
  #sm-banner .banner-box {
    height: 40vh;
    margin-bottom: 20px;
  }
  #sm-banner h2 {
    font-size: 32px;
  }
  #banner3 {
    padding: 0 20px;
  }
  #banner3 .banner-box {
    width: 100%;
  }
  #banner3 h2 {
    font-size: 26px;
  }
  #newletter {
    padding: 40px 20px;
  }
  #newsletter .form {
    width: 100%;
  }
  footer .copyright {
    text-align: start;
  }
}
/* *****--------************ */

/* shop page section styles */

/* header section */
#page-header {
  background-image: url(images/banner/b1.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 14px;
}
#page-header h2,
#page-header p {
  color: #fff;
  text-transform: capitalize;
}
/* pagination buttons */
#pagination {
  text-align: center;
}
#pagination a {
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

/* Single product page syles */

/* products details */
#prodetails {
  display: flex;
  margin-top: 20px;
}
#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}
.small-img-group {
  display: flex;
  justify-content: space-between;
}
.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
#prodetails .single-pro-details h4 {
  font-size: 22px;
  padding: 40px 0 20px 0;
  text-transform: capitalize;
}
#prodetails .single-pro-details h2 {
  font-size: 26px;
  text-transform: capitalize;
}
#prodetails .single-pro-details h6 {
  text-transform: capitalize;
  font-size: 18px;
}
#prodetails .single-pro-details select {
  text-transform: capitalize;
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
}
#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
  outline: none;
}
#prodetails .single-pro-details button {
  background-color: #088178;
  color: #fff;
}
#prodetails .single-pro-details span {
  text-transform: capitalize;
  line-height: 25px;
  color: #606063;
  font-size: 17px;
}
